.Parent{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    position: fixed ;
    width: 100%;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 90;
}
.Child {
    padding: 10px;
    margin: 10px;
    background-color: black;
    border: 1px solid black;
    color: beige;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    }  

.H1{
    background-attachment: scroll;
    background-color :rgb(255, 229, 153);
    background-origin :padding-box;
    color :rgb(95, 62, 39);
    height: 1440px;
    line-height: 24px;
    margin-bottom: 71.2px;
    margin-left: 0px;
    margin-top :0px;
    padding-bottom :80px;
    padding-top: 80px;
    width :100%;
}