.Parent{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    position: fixed ;
    width: 100%;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 90;
}
.Child {
    padding: 10px;
    margin: 10px;
    background-color: black;
    border: 1px solid black;
    color: beige;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    }  

.H1{
    background-attachment: scroll;
    background-color :rgb(255, 229, 153);
    background-origin :padding-box;
    color :rgb(95, 62, 39);
    height: 1440px;
    line-height: 24px;
    margin-bottom: 71.2px;
    margin-left: 0px;
    margin-top :0px;
    padding-bottom :80px;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    width :100%;
}

.MeetCouncil{
    background-color: rgb(255, 229, 153);
    color: rgb(95, 62, 39);
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.imgprofile{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 25px;
    padding-right: 0px;
    padding-left: 0px;
}
.CouncilMember{
    padding: 10px;
    margin: 10px;
}

.CouncilMembers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.Name{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}